{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Social -->
	<div class="social-body">
		<ul>
			<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
			<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
		</ul>
	</div>
	<!--/ End Social -->

	<!-- Header Area -->
	<header id="header" class="header">
		<div class="header-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-2 col-xs-12">
						<div class="logo">
							<a href="index.html"><img src="{% static 'img/nnn.png' %}" alt="logo.png"></a>
						</div>
					</div>
					<div class="col-md-9 col-sm-10 col-xs-12">
						<nav class="navbar navbar-default">
							<div class="navbar-collapse">
								<ul id="nav" class="nav navbar-nav navbar-expand-sm">
									<li class="nav-item active"><a href="#slider">Welcome</a></li>
									<li class="nav-item"><a href="#about">About Me</a></li>
									<li class="nav-item"><a href="#service">My Service</a></li>
									<li class="nav-item"><a href="#skill">Skill</a></li>
									<li class="nav-item"><a href="#story">Story</a></li>
									<li class="nav-item"><a href="#latest-works">Portfolio</a></li>
									<li class="nav-item"><a href="#blog">Blog</a></li>
									<li class="nav-item"><a href="#contact">Contact</a></li>
								</ul>
							</div> 
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

	<!-- Slider Area -->
	<section id="slider" class="slider" style="background-image:url('{% static 'img/slider.jpg' %}')">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12 col-xs-12">
					<div class="text">
						<h1>Hi,my name is Abhimanyu Kumar</h1>
						<p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit. Hic Laboriosam Ipsa Sequi? Laudantium Aspernatur Iusto Blanditiis, Totam Perferendis Dicta Magni. tincidunt dui. Vestibulum sodales posuere ullamcorper. Proin convallis neque pulvinar mauris vehicula, quis dictum diam ullamcorper</p>
						<div class="button">
							<a href="#" class="btn primary "><i class="fa fa-briefcase"></i>view work</a>
							<a href="#" class="btn"><i class="fa fa-phone"></i>Contact me</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		<!--/ End Slider Area -->
		

{% endblock %}